<% content_for :js do %>
	<script type="text/javascript" src="/static/js/home.js"></script>
<% end %>

<div class="row">
	<div class="span4">
		<h2>User Stuff</h2>
		<ul class="nav nav-list">
			<li class="nav-header">
				This Section Right Here
			</li>
			<li>
				<textarea>will have box where the user can compose a new event</textarea>
			</li>
			<li class="nav-header">
				User
			</li>
			<li>
				<strong>ID</strong> // <%= session[:user_id] %>
			</li>
			<li>
				<strong>Name</strong> // <%= session[:screen_name] %>
			</li>
		</ul>
	</div>
	<div class="span8">
		<div id="mobs">
			<% @mobs.each do |mob| %>
				<div class="mob" id="<%= mob["id"] %>">
					<div class="map" data-latitude="<%= mob["where"]["latitude"] %>" data-longitude="<%= mob["where"]["longitude"] %>" data-focused="false"></div>
					<p>
						<div class="profile" style="background-image: url('https://api.twitter.com/1/users/profile_image?screen_name=<%= mob["user"] %>&size=original')"></div>
						<h3><%= raw(mob["tweet"].tweet_to_html) %></h3>
						<h4><a class="text" href="https://twitter.com/#!/search/%23<%= mob["hashtag"] %>" target="_blank">#<%= mob["hashtag"] %></a></h4>
						<h5>Posted by <a class="text" href="http://twitter.com/<%= mob["user"] %>" target="_blank">@<%= mob["user"] %></a> on <%= Time.at(mob["created"]).to_datetime.strftime("%d %b - %I:%M%p") %></h5>
					</p>
					<div class="clear"></div>
					<div class="options" >
						<% if mob["like"] %>
							<a href="<%= unlike_path(:id => mob["id"]) %>" class="unlike"><%= mob["likes"] %></a>
						<% else %>
							<a href="<%= like_path(:id => mob["id"]) %>" class="like"><%= mob["likes"] %></a>
						<% end %>

						<% if mob["going"] %>
							<a href="<%= unrsvp_path(:id => mob["id"]) %>" class="unrsvp"><%= mob["rsvps"] %></a>
						<% else %>
							<a href="<%= rsvp_path(:id => mob["id"]) %>" class="rsvp"><%= mob["rsvps"] %></a>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
